
    
    <!DOCTYPE html>
    <html>
    
    <head>
        <meta charset="UTF-8">
        <title>About Mushroom</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./about.css">
    </head>
    
    <body>
        <header>
            <div id="logo">SmartBridge</div>
            <div id="menu">
                <a href="#">About</a>
                <a href="images.html">Images</a>
                <a href="predict.html">Predict</a>
            </div>
            
        </header>
    
        <h1 id="header">Mushrooms</h1>
        <h3 id="content">A mushroom or toadstool is the fleshy, spore-bearing fruiting body of a fungus, typically produced
            above ground, on soil, or on its food source. Toadstool generally denotes one poisonous to humans.</h3>
        <button id="button-images" onclick="location.href='images.html'">Some Mushroom Images</button>
    
    </body>
    
    </html>
    