<!DOCTYPE html>
    <html>
    
    <head>
        <meta charset="UTF-8">
        <title>Classify Mushroom</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./classify.css">
    </head>
    
    <body>
        <header>
            <div id="logo">SmartBridge</div>
            <div id="menu">
                <a href="about.html">About</a>
                <a href="predict.html">Predict</a>
            </div>
            
        </header>
            <h2 id="header">The Mushroom is </h2>
    
    </body>
    
    </html>
    