<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Images</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./images.css">

</head>

<body>
    <header>
        <div id="logo">SmartBridge</div>
        <div id="menu">
            <a href="about.html">About</a>
            <a href="images.html">Images</a>
            <a href="predict.html">Predict</a>
        </div>
        
    </header>

    <h1>Images</h1>
           
        <div class="grid">
          <div class="img-wrapper" id="i1">
            <img class="blur" src="https://images2.alphacoders.com/459/459191.jpg?random=1">
            <div class="content fade">Oyster mushrooms are one of the biggest types of edible mushrooms which are most common and versatile. Oysters are easy to cultivate and grow mainly on decaying wood. </div>
          </div>
          <div class="img-wrapper">
            <img class="zoom blur" src="https://wallpaperaccess.com/full/266020.jpg?random=2">
            <div class="content fade">Boletus edulis, sometimes called "porcino" or "fungo porcino"—Italian for "hog mushrooms." They generally have a reddish-brown cap that sits atop a white stem. </div>
          </div>
          <div class="img-wrapper">
            <img class="blur" src="https://w0.peakpx.com/wallpaper/230/880/HD-wallpaper-multiple-glare-mushrooms-green-plants-dark-bokeh-background-mushroom.jpg?random=3">
            <div class="content slide-left">These mushrooms are also known as buna shimeji, beech brown mushroom, clamshell mushroom . Native to East Asia, this variety is also found in Northern Europe. </div>
          </div>
          <div class="img-wrapper">
            <img class="blur" src="https://cdn.pixabay.com/photo/2019/09/30/16/36/mite-4516249_640.jpg?random=4">
            <div class="content slide-right">Porcini mushrooms are one of the most popular mushrooms in Italian Cuisine. These are large mushrooms with a cap that can grow up to 12 inches in diameter. </div>
          </div>
          <div class="img-wrapper">
            <img class="blur" src="https://cdn.pixabay.com/photo/2018/09/06/19/53/mushrooms-3659165__340.jpg?random=4">
            <div class="content slide-right">Mushrooms are naturally low in sodium – an entire cup of white button mushrooms has just five milligrams of sodium. They offer savory flavor </div>
          </div>
          <div class="img-wrapper">
            <img class="blur" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQruCn0e0Qtn8tn_oiViOlYlCYM1tTqMHL3yFbIWHhNdB12y7x22qF3dKcx3AbYmq15-pU&usqp=CAU?random=6">
            <div class="content slide-down">Mushrooms make an excellent substitute for red meat while minimizing calories, fat and cholesterol.Shiitake mushrooms, help to keep cholesterol levels low.</div>
          </div>
          <div class="img-wrapper">
            <img class="gray" src="https://e0.pxfuel.com/wallpapers/816/522/desktop-wallpaper-closeup-view-of-white-mushroom-in-blur-blue-background-mushroom.jpg?random=7">
            <div class="content slide-down">The microbiome in your gut is home to organisms and bacteria that play a large role in your health and mood. </div>
          </div>
          <div class="img-wrapper">
            <img class="blur" src="https://images2.alphacoders.com/103/1033387.jpg?random=4">
            <div class="content slide-right">Mushrooms are delicate and should be cleaned gently. Either place them under gentle running water to release any dirt or brush dirt off with a dampened paper towel.</div>
          </div>
        </div>
</body>

</html>
