<!DOCTYPE html>
<html>
<head>
    <title>Mushroom Classification</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">   

</head>
<body>
    <header>
        <div id="logo">SmartBridge</div>
        <div id="menu">
            <a href="about.html">About</a>
            <a href="images.html">Images</a>
            <a href="predict.html">Predict</a>
        </div>
        
    </header>
    <div id="content">
        <center>
        <h1>Mushroom Classification Using Transfer Learning</h1>
        <h3>Through this project, we will be able to classify various types of mushrooms.</h3>
        <div id="about">
            <a href="about.html">
                <button id="button-images" onclick="location.href='about.html'">About Mushrooms</button>
            </a>
         </center>
        </div>
    </div>
</body>
</html>
