<!DOCTYPE html>
    <html>
    
    <head>
        <meta charset="UTF-8">
        <title>Prredict Mushroom</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./predict.css">
    </head>
    
    <body>
        <header>
            <div id="logo">SmartBridge</div>
            <div id="menu">
                <a href="about.html">About</a>
                <a href="predict.html">Predict</a>
            </div>
            
        </header>
    
        <form action="/action_page.php" class = "files">
            <h2 id="header">Drop Files Here</h2>
            <input type="file" id="myFile" name="filename" required >
          </form>

          
          <div id="classify">
            <a href="classify.html">
                <button id="button" onclick="location.href='classify.html'" required >Classify</button>
            </a>
            </div>
    
    </body>
    
    </html>
    